.favoriteSection{
    width: 100%;
    background-color: #e4e7ed;
}
.cardProduct{
    background-color: #fff;
    border-radius: 6px;
    margin: 10px;
    margin-top: 50px;
    height: 378px;
}
.cardImgTop{
    width: 200px;
    margin-top: 20px;
}
.cartfooterone{
    font-weight: bold;
}
.hrtwo{
    width: 65px;
    margin-left: -27px;
}
.hrone{
    width: 55px;
}
.favoriteSearchInput{
    width: 300px;
    margin-top: 16px;
    border-radius: 32px;
    font-weight: 500;
}