.headerSection{
    background-color: #1e1f29;
    height: 130px;
    border-bottom: 3px solid #d31737;
}
a{
    color: #fff !important;
    font-size: 12px;
    text-decoration: none !important;
}
.spanTelNumber{
    display: inline-block;
    margin-top: 20px;
}
.navbar-nav{
    word-spacing: 4px;
}
#navbarDropdown{
    margin-left: -16px;
}
/* #navbarDropdown:hover{
    color: #d10024;
} */
.dropdown-menu-lang{
    min-width: 20px;
    left: -76px;
    background-color:  #e4e7ed
}
.dropdown-menu a{
    color: #000 !important;
}
.logo{
    color: #d10024 !important;
}
.commondiv{
    width: 221px;
}
.nav-link span:hover{
    color: #d10024 !important;
    cursor: pointer;
    
}
.flag{
    width: 20px;
    margin-right: 4px;
}
.nav-link .fa-heart{
    font-size: 19px;
}
.nav-link .fa-user{
    font-size: 20px;
    margin-left: 7px;
}
.nav-link .fa-shopping-basket{
    font-size: 18px;
}
.fa-shopping-basket:hover{
    color: #d10024;
}
.fa-heart:hover{
    color: #d10024;  
}
.nav-link:hover .fa-user{
    color: #d10024;
}
.hoverDivUserData{
    width: 160px;
    padding: 13px 13px;
    height: 133px;
    border-radius: 5px;
    background-color: #d10024;
    border: 1px solid #d10024;
    position: relative;
    z-index: 20;
   display: none;
    transform: translate(0%, -10%);
    transition:  opacity 0.5s ease; /* Animasyonlu geçiş ekleyin */
}
.hoverDivUserData li{
    height: 30px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
}
.nav-link-account:hover  .hoverDivUserData {
    display: block;
}
.nav-link:hover .favourite-span-user{
    color: #d10024;
}
.nav-link:hover .fa-shopping-basket{
    color: #d10024;
}
.nav-link:hover .favourite-span-basket{
    color: #d10024;
}
.nav-link:hover .fa-heart{
    color: #d10024;
}
.nav-link:hover .favourite-span-fav{
    color: #d10024;
}
.input-search{
    width: 350px !important;
    margin-top: 68px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.search-button{
    width: 100px;
    height: 38px;
    margin-top: 68px;
    margin-left: 9px;
    background-color: #d10024;
    color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border:none;
}
.input-group-prepend button{
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
    margin-top: 68px;
}
.input-group-prepend  button:hover {
    background-color: #fff !important;
    color: #000 !important;
}
.icon-right{
    width: 20px;
    margin-left: 5px;
    margin-top: 19px;
}
.icon-right-fav{
    width: 20px;
    margin-left: 5px;
    margin-top: 19px; 
}

/* .icon-right-basket{
    width: 20px;
    margin-left: 2px;
    margin-top: 17px;
} */
.favourite-span-fav{
    display: inline-block;
    margin-left: -14px !important ;
    margin-top: 2px;
}
/* .favourite-span-fav:hover .fa-heart{
    color: #d10024;
} */
.favourite-span-about{
    display: inline-block;
    margin-left: -21px !important ;
    margin-top: 2px;
}
.favourite-span-basket{
margin-left: -3px;
}
.span-help{
    margin-left: -6px;
}
/*  */
.electro{
    font-size: 45px;
    font-weight: 700;
    margin-top: 7px;
}
.navbar-right{
    margin-left: -75px;
}
.lang{
    margin-left: 8px;
}
.nav-link{
    margin-top: 14px;
    cursor: pointer;
}
.nav-link-help{
    margin-left: -4px;
}

/*  NAVBAR-TWO */
.navbar-two{
    height: 60px;
    background-color:#fff;
    border-bottom: 3px solid rgb(219, 214, 214);
}
.navbar-two a{
    color: #7c858a  !important;
    font-size: 15px;
}
/* .hoverDivUserData{
    width: 130px;
    height: 133px;
    border-radius: 5px;
    background-color: #d10024;
} */
/* NAVBAR3 */
#navbarNavAltMarkup .nav-link{
    margin-top: 7px;
}

#navigationbar{
    width: 1105px;
    height: 50px;
    position: relative;
    top:10px;
    z-index: 10;
    background-color: #1e1f29;
    border-radius: 6px;
    transition: height 1500ms ease;
}
#navigationbartwo{
    width: 1105px;
    height: 50px;
    position: relative;
    top:10px;
    z-index: 10;
    background-color: #1e1f29;
    border-radius: 6px;
    transition: height 1500ms ease;
}
#navigationbarthree{
    width: 1105px;
    height: 50px;
    position: relative;
    top:10px;
    z-index: 10;
    background-color: #1e1f29;
    border-radius: 6px;
    display: none;
    transition: height 1500ms ease;
}
#navigationbarfour{
    width: 1105px;
    height: 50px;
    position: relative;
    top:10px;
    z-index: 10;
    background-color: #1e1f29;
    border-radius: 6px;
    transition: height 1500ms ease;
}
#navigationbarfive{
    width: 1105px;
    height: 50px;
    position: relative;
    top:10px;
    z-index: 10;
    background-color: #1e1f29;
    border-radius: 6px;
    transition: height 1500ms ease;
}
#navbarcategorydivone span{
    color: #fff;
    font-size: 15px;
    display: inline-block;
    width: 200px;
    font-weight: bold;
}
#navbarcategorydivone span:hover{
    color: #d10024;
    text-decoration: underline;
    cursor: pointer;
}
#navbarcategorydivone li{
    color: #fff;
    width: 150px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
#navbarcategorydivone li:hover{
    text-decoration: underline;
    color: #d10024;
}
.wrapper{
    padding: 10px 25px;
}
.categoryThreeOneLine{
    margin-top: 30px;
}
#navbarNavAltMarkup .nav-link{
    font-weight: 400;
}
#navbarNavAltMarkup .nav-link:hover{
    text-decoration: underline !important;
    color: #d10024 !important;
}