.headerSection{
    background-color: #15161d;
    height: 130px;
    border-bottom: 3px solid #d31737;
}
a{
    color: #fff !important;
    font-size: 12px;
    text-decoration: none !important;
}
.spanTelNumber{
    display: inline-block;
    margin-top: 20px;
}
.navbar-nav{
    word-spacing: 4px;
}
#navbarDropdown{
    margin-left: -16px;
}
/* #navbarDropdown:hover{
    color: #d10024;
} */
.dropdown-menu-lang{
    min-width: 20px;
    /* left: -76px; */
    background-color:  #e4e7ed
}
.dropdown-menu a{
    color: #000 !important;
}
.logo{
    color: #d10024 !important;
}
.commondiv{
    width: 221px;
}
.nav-link span:hover{
    color: #d10024 !important;
    cursor: pointer;
    
}
.flag{
    width: 20px;
    margin-right: 4px;
}
.nav-link .fa-heart{
    font-size: 19px;
}
.nav-link .fa-user{
    font-size: 20px;
    margin-left: 7px;
}
.nav-link .fa-shopping-basket{
    font-size: 18px;
}
.fa-shopping-basket:hover{
    color: #d10024;
}
.fa-heart:hover{
    color: #d10024;  
}
.nav-link:hover .fa-user{
    color: #d10024;
}
.hoverDivUserData{
    width: 160px;
    padding: 13px 13px;
    height: 133px;
    border-radius: 5px;
    background-color: #d10024;
    border: 1px solid #d10024;
    position: relative;
    z-index: 20;
   display: none;
    transform: translate(0%, -10%);
    transition:  opacity 0.5s ease; /* Animasyonlu geçiş ekleyin */
}
.hoverDivUserData li{
    height: 30px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
}
.nav-link-account:hover  .hoverDivUserData {
    display: block;
}
.nav-link:hover .favourite-span-user{
    color: #d10024;
}
.nav-link:hover .fa-shopping-basket{
    color: #d10024;
}
.nav-link:hover .favourite-span-basket{
    color: #d10024;
}
.nav-link:hover .fa-heart{
    color: #d10024;
}
.nav-link:hover .favourite-span-fav{
    color: #d10024;
}
.input-search{
    width: 350px !important;
    margin-top: 68px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.search-button{
    width: 100px;
    height: 38px;
    margin-top: 68px;
    margin-left: 9px;
    background-color: #d10024;
    color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border:none;
}
.input-group-prepend button{
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
    margin-top: 68px;
}
.input-group-prepend  button:hover {
    background-color: #fff !important;
    color: #000 !important;
}
.icon-right{
    width: 20px;
    margin-left: 5px;
    margin-top: 19px;
}
.icon-right-fav{
    width: 20px;
    margin-left: 5px;
    margin-top: 19px; 
}

/* .icon-right-basket{
    width: 20px;
    margin-left: 2px;
    margin-top: 17px;
} */
.favourite-span-fav{
    display: inline-block;
    margin-left: -14px !important ;
    margin-top: 2px;
}
/* .favourite-span-fav:hover .fa-heart{
    color: #d10024;
} */
.favourite-span-about{
    display: inline-block;
    margin-left: -21px !important ;
    margin-top: 2px;
}
.favourite-span-basket{
margin-left: -3px;
}
.span-help{
    margin-left: -6px;
}
/*  */
.electro{
    font-size: 45px;
    font-weight: 700;
    margin-top: 7px;
}
.navbar-right{
    margin-left: -75px;
}
.lang{
    margin-left: 8px;
}
.nav-link{
    margin-top: 14px;
    cursor: pointer;
}
.nav-link-help{
    margin-left: -4px;
}

/*  NAVBAR-TWO */
.navbar-two{
    height: 60px;
    background-color:#fff;
    border-bottom: 3px solid rgb(219, 214, 214);
}
.navbar-two a{
    color: #7c858a  !important;
    font-size: 15px;
}
/* .hoverDivUserData{
    width: 130px;
    height: 133px;
    border-radius: 5px;
    background-color: #d10024;
} */
/* NAVBAR3 */
#navbarNavAltMarkup .nav-link{
    margin-top: 7px;
}

#navigationbar{
    width: 1105px;
    height: 50px;
    position: relative;
    top:10px;
    z-index: 10;
    background-color: #1e1f29;
    border-radius: 6px;
    transition: height 1500ms ease;
}
#navigationbartwo{
    width: 1105px;
    height: 50px;
    position: relative;
    top:10px;
    z-index: 10;
    background-color: #1e1f29;
    border-radius: 6px;
    transition: height 1500ms ease;
}
#navigationbarthree{
    width: 1105px;
    height: 50px;
    position: relative;
    top:10px;
    z-index: 10;
    background-color: #1e1f29;
    border-radius: 6px;
    display: none;
    transition: height 1500ms ease;
}
#navigationbarfour{
    width: 1105px;
    height: 50px;
    position: relative;
    top:10px;
    z-index: 10;
    background-color: #1e1f29;
    border-radius: 6px;
    transition: height 1500ms ease;
}
#navigationbarfive{
    width: 1105px;
    height: 50px;
    position: relative;
    top:10px;
    z-index: 10;
    background-color: #1e1f29;
    border-radius: 6px;
    transition: height 1500ms ease;
}
#navbarcategorydivone span{
    color: #fff;
    font-size: 15px;
    display: inline-block;
    width: 200px;
    font-weight: bold;
}
#navbarcategorydivone span:hover{
    color: #d10024;
    text-decoration: underline;
    cursor: pointer;
}
#navbarcategorydivone li{
    color: #fff;
    width: 150px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
#navbarcategorydivone li:hover{
    text-decoration: underline;
    color: #d10024;
}
.wrapper{
    padding: 10px 25px;
}
.categoryThreeOneLine{
    margin-top: 30px;
}
#navbarNavAltMarkup .nav-link{
    font-weight: 400;
}
#navbarNavAltMarkup .nav-link:hover{
    text-decoration: underline !important;
    color: #d10024 !important;
}

.search-container input{
    display: none;
}
.search-container .fa-search{
    display: none;
}
.mobile-header-view{
    display: none !important;
}

/*   RESPONSİVE HEADER.CSS     */ 

@media screen and (max-width: 1200px) {
    .input-search {
        width: 299px !important;
    }
    .search-button {
        width: 87px;
    }
  }

  @media screen and (max-width: 992px) {
    .electro {
        font-size: 40px;
        margin-top: 13px;
    }
    .input-search {
        width: 220px !important;
    }   
    .search-button {
        width: 70px;
        margin-left: 0px;
    }
  }
  @media screen and (max-width: 880px) {
    .commondiv {
        width: 190px;
    }
  }

  @media screen and (max-width: 870px) {
    .nav-link .fa-user {
        font-size: 16px;
    }
    .nav-link .fa-heart {
        font-size: 14px;
    }
    .nav-link .fa-shopping-basket {
        font-size: 14px;
    }
    a {
        font-size: 11px;
    }
    .dropdown-menu-lang{
        min-width: 20px;
        left: -30px !important;
        background-color:  #e4e7ed
    }
  }
 

  @media screen and (max-width: 825px) {
    #navbarDropdown {
        margin-left: -30px;
    }
    .favourite-span-basket {
        margin-left: -35px;
    }
    .fa-shopping-basket{
        margin-left: -35px;
    }
    .fa-heart{
        margin-left: -14px;
    }
    .nav-link .fa-user {
        margin-left: 13px;
    }
  }

  @media screen and (max-width: 817px) {
    .commondiv {
        width: 185px;
    }
    .nav-link .fa-user {
        margin-left: 0px;
    }
    .favourite-span-user{
        margin-left: -11px;
    }
    .favourite-span-fav {
        margin-left: -22px !important;
        margin-top: 2px;
    }
    .nav-link .fa-heart {
        margin-top: 1px;
    }
    #navbarDropdown {
        margin-left: -39px;
    }
    a {
        font-size: 10px;
    }
    .favourite-span-about {
        margin-left: -29px !important;
    }
  }
  @media screen and (max-width: 807px) {
        .commondiv {
            width: 180px;
        }
  }
  @media screen and (max-width: 797px) {
        .commondiv {
            width: 178px;
        }
        .commondiv {
            margin-left: -6px;
        }
  }
  @media screen and (max-width: 787px) {
    .commondiv {
        width: 166px;
    }
  }
  @media screen and (max-width: 769px) {
    .headerSection {
        height: 127px;
        width: 100%;
    }
 
        .commondiv {
            width: 169px;
    }
    .commondiv .row {
        display: flex;
        flex-direction: row; /* Mobil cihazlarda yan yana sırala */
      }
    
      .commondiv .col-md-4 {
        flex: 1; 
      }
      .headerSection .container .row{
        display: flex;
        flex-direction: row; /* Mobil cihazlarda yan yana sırala */
      }
      .headerSection .container .col-lg-3{
        flex: 1; 
      }
      .headerSection .container .col-lg-6{
        flex: 1; 
      }
      .search-button{
        margin-top: 0;
      }
      .input-search-left-div{
        display: inline-block !important;
      }
      .input-search-right-div{
        display: inline-block !important;
      }
      .input-search {
        width: 198px  !important;
        height: 30px;
    font-size: 14px;
    
    }
        .search-button{
        font-size: 11px;
            width: 54px;
            height: 30px;
        margin-top: 68px;
        margin-left: -11px;

    }
    .electro {
        font-size: 33px;
        padding-left: 34px;
    }
    .headerSection .container{
        max-width: 760px;
    }
    .favourite-span-basket {
        margin-left: -15px;
    }
    .fa-shopping-basket {
        margin-left: -14px;
    }
    .flag {
        margin-right: 3px;
    }
    #navbarDropdown {
        margin-left: -26px;
    }
  }
  @media screen and (max-width: 726px) {
  .input-search {
    width: 185px !important;
  }
  .search-button{
    margin-left: -13px;
  }
}
@media screen and (max-width: 640px) {

.commondiv {
    margin-left: 5px;
    width: 155px;
}
.electro {
    font-size: 28px;
    padding-left: 24px;
    margin-top: 21px;
}
#navbarDropdown {
    margin-left: -26px;
    margin-top: 12px;
}
}

@media screen and (max-width: 620px) {
.input-search {
    width: 170px !important;
}
.search-button {
    font-size: 10px;
    margin-left: -15px;
    width: 50px;
}

}


@media screen and (max-width: 576px) {
.input-search {
    height: 27px;
}
.input-search {
    font-size: 12px;
    font-weight: 700;
    width: 141px !important;
    margin-top: 48px;
}
.nav-link {
    margin-top: 3px;
}
.input-search {
    width: 141px !important;
}
.search-button {
    margin-top: 48px;
    height: 27px;
    margin-left: -31px;
}
.electro {
    font-size: 26px;
    padding-left: 16px;
    margin-top: 0px;
}
.headerSection {
    height: 100px;
}
#navbarDropdown {
    margin-top: 2px;
}
.favourite-span-basket {
    margin-left: -20px;
}
.flag {
    width: 16px;
    margin-right: 0;
}
.fa-shopping-basket{
    margin-top: -1px;
    margin-bottom: 6px;
}
.fa-heart {
    margin-left: -7px;
}
}

@media screen and (max-width: 560px) {

    .input-search {
        width: 148px !important;
    }
}
@media screen and (max-width: 545px) {

    .input-search {
        width: 144px !important;
    }
}
@media screen and (max-width: 541px) {

    .input-search {
        width: 137px !important;
    }
}

/*   PHONE AND SMALL  */
@media screen and (max-width: 528px) {

    .input-search {
        /* width: 200px !important;
        height: 26px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px; */
        display: none;
    }
    .favourite-span-fav {
        margin-top: 0px;
    }
    .nav-link .fa-heart {
        margin-top: 2px;
    }
    .nav-link .fa-shopping-basket {
        font-size: 13px;
        margin-top: 0px;
        margin-bottom: 3px;
    }
    .search-container {
        position: relative;
    }
    .search-container input{
        
        display: block;
        border-radius: 16px;
        margin-top: 49px;
        height: 25px;
        width: 100%;
        font-size: 12px;
        font-weight: 700;
    }
    .search-container .fa-search{
        display: block;
        position: absolute;
        right: 10px;
        top: 6px;
        font-size: 14px;
        color: #d10024;
    }
    .search-button {
        margin-top: 48px;
        height: 26px;
        display: none;
    }
    .electro {
        font-size: 23px;
        padding-left: 10px;
        margin-top: 4px;
    }
    .span-help {
        margin-left: -13px;
    }
    .favourite-span-about {
        margin-left: -33px !important;
    }
    #navbarDropdown {
        margin-left: -33px;
        margin-top: 3px;
    }
    .favourite-span-basket {
        margin-left: -25px;
    }
    .fa-shopping-basket {
        margin-left: -28px;
    }
    .commondiv {
        margin-left: 0px;
        width: 135px;
    }

}

@media screen and (max-width: 500px) {
    .laptop-header-view{
        display: none !important;
    }
    .mobile-header-view{
        display: block !important;
    }
    .headerSection {
        height: 165px;
    }
    .flex-header-one{
        height: 54px;
        background-color: #1e1f29;
    }
    .flex-header-two{
        height: 54px;
        background-color:#15161d;
    }
    .flex-header-three{
        height: 54px;
        background-color:#15161d;
        padding: 0 70px;
    }
    .span-help {
        margin-left: 0px;
        font-size: 12px;
        display: inline-block;
        margin-top: 9px;
    }
    .span-about{
        font-size: 12px;
        display: inline-block;
        margin-top: 9px;
    }
    .favourite-span-about {
        margin-left: 0 !important;
        
    }
    .favourite-span-user{
        font-size: 12px;
        margin-left: -10px;
    }
    #navbarDropdown {
        margin-left: 0px;
        margin-top: 10px;
    }    
    .nav-link {
        margin-top: 0px;
    }

    .flex-header-one{
        display: flex;
        justify-content:space-around;
    }
    .flex-header-two{
        display: flex;
        justify-content:center;
    }
  .language-selected-text{
    font-size: 12px;
  }
  .flag{
    margin-top: -5px;
    width: 22px;
  }
  .favourite-span-fav{
    margin-left: 0 !important;
    font-size: 12px;
    text-align: center;
    
  }
  .favourite-span-basket{
    margin-left: 0;
    font-size: 12px;
   
  }
  .search-container input{
    margin-top: 8px;
    font-size: 13px;
  }
 .nav-link .fa-shopping-basket {
    margin-left: 0;
    margin-top: 9px;
    margin-bottom: 3px;
 }
 .fa-heart {
    margin-left: 0px;
    margin-top: 9px !important;
}
.nav-link .fa-user{
    margin-top: 9px;
}

}