

.carousel-caption-bottom{
    position: relative !important;
    z-index: 1 !important;
    margin-bottom: 0 !important;
    font-size: 30px !important;
    /* margin-top: 60px; */
}
#homecompback{
    background-color: #fff;
}
.carousel-image{
    width: 260px !important;
    height: 240px !important;
    margin-top: 80px !important;
}
.imageslider
{  
    position: absolute;
    z-index: 2;
    right: 150px;
    top: 100px;
    width: 367px;
}
#thumbnail-div{ 
    display: none;
}
 .next,.prev{
    color: #d10024 !important;
}
.next,.prev:hover{
    background-color: #e4e7ed !important;
}