

.carousel-caption-bottom{
    position: relative !important;
    z-index: 1 !important;
    margin-bottom: 0 !important;
    font-size: 30px !important;
    /* margin-top: 60px; */
}
#homecompback{
    background-color: #fff;
}

.imageslider
{  
    position: absolute;
    z-index: 2;
    right: 150px;
    top: 100px;
    width: 367px;
}
#thumbnail-div{ 
    display: none;
}
 .next,.prev{
    color: #d10024 !important;
    top:42% !important;
    font-size: 36px !important;
}
.next,.prev:hover{
    background-color: transparent !important;
}

.carousel-image {
    width: 100% !important;
    height: 300px !important;
}